@import '../../../assets/styles/settings.scss';

.core {
  @include fontScale(0);
  background-color: $normalGreen;
  border-radius: 3px;
  border: none;
  color: $white;
  cursor: pointer;
  font-family: 'Hind';
  height: 32px;
  width: auto;
  outline: none;
  padding: 0 20px;
  text-align: center;
  text-transform: uppercase;

  &.big {
    @include fontScale(1);
    height: 57px;
    width: 240px;
  }

  &.edit {
    background-color: $normalGrey;

    &:hover { background-color: $hoverGrey; }
  }

  &.dark {
    background-color: $normalBlack;

    &:hover { background-color: $hoverBlack; }
  }

  &.disabled { cursor: not-allowed; }

  &.delete {
    background-color: $normalDelete;

    &:hover { background-color: $hoverDelete; }
  }

  &.medium { width: 120px; }

  &:not(.delete):not(.edit):not(.disabled):not(.dark):hover { background-color: $hoverGreen; }
}

.circle {
  @include square(56px);
  background-color: $normalBlack;
  border: none;
  border-radius: 28px;
  cursor: pointer;
  outline: none;

  &:hover { background-color: $hoverBlack; }
}