@import '../../assets//styles/settings.scss';

.box {
  align-items: flex-start;
  background-color: $white;
  border-bottom: 2px solid $boxBorder;
  border-radius: 2px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-family: 'Hind';
  justify-content: space-between;
  max-height: 296px;
  max-width: 390px;
  padding: 40px;
}
