@import '../../assets//styles/settings.scss';

.box {
  @include defaultBoxShadow;
  align-items: flex-start;
  background-color: $white;
  border: 1px solid $boxBorder;
  display: flex;
  flex-direction: column;
  font-family: 'Hind';
  max-height: 296px;
  max-width: 390px;
  padding: 40px;
}
