@import '../../assets/styles/settings.scss';

main {
  display: flex;

  .banner { display: none; }

  .page {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    padding: 40px;

    &.error {
      background-image: url('../../assets/images/darth-vader.png');
      background-repeat: no-repeat;
      background-position: left -12em top 14em;
      height: 100vh;
      padding: 0;
    }
  }

  @media (min-width: $tabletLg) {
    .banner {
      background-image: url('../../assets/images/star-wars.png');
      background-repeat: no-repeat;
      display: block;
      flex-basis: 50%;
      background-size: 100% 100%;
      max-width: 480px;
      height: 100vh;
  
      .overlay {
        align-items: center;
        background-color: $imageMask;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        opacity: 0.85;
        height: 100%;
        
        .quote {
          @include fontScale(6);
          color: $white;
          font-family: 'Playfair Display';
          max-height: 158px;
          max-width: 310px;
          padding: 40px;

          p {
            @include fontWeightScale(6);
            margin: 0;
          }

          .divider {
            border: 1px solid $normalGreen;
            margin: 20px auto 10px;
            width: 10px;
          }

          .author {
            @include fontScale(1);
            @include fontWeightScale(1);
            text-align: center;
          }
        }
      }
    }

    .page { flex-basis: 70%; }
  }
}