@import '../../assets/styles/settings.scss';

.style-guide {
  font-family: 'Playfair Display';
  padding: 20px;

  button.core:not(:first-of-type) { margin-left: 20px; }

  .no-label input:not(:first-of-type) { margin-left: 20px; }
}