@import '../../../assets//styles/settings.scss';

.events {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  
  &.list {
    .event {
      flex: 1 1 100%;
      padding: 20px;
      max-height: 200px;
      max-width: 1200px;

      img { display: none; }

      p { margin: 0; }

      .description {
        text-overflow: ellipsis;
        max-width: 240px;
        overflow: hidden;
        white-space: nowrap;
      }

      .time-stamp { order: 2; }

      .owner { order: 1; }

      .action-items {
        order: 2;
        width: 100%;
      }

      &:not(:last-of-type) { margin: 0 0 10px 0; }

      &:last-of-type { margin-right: 0; }
    }
  }

  .event {
    flex-basis: 100%;
    margin-bottom: 20px;
  }
  
  @media (min-width: $tabletLg) {
    .event {
      flex-basis: 45%;

      &:not(:nth-child(3n)) { margin-right: 30px; }
    }
  }

  @media (min-width: $desktopSm) {
    padding: 0;

    &.list {
      .event {
        align-items: baseline;
        flex-direction: row;
        max-height: 72px;

        h5 { max-width: 115px; }

        .action-items { width: 200px; }
      }
    }

    .event {
      flex-basis: 25%;
      margin-bottom: 30px;
    }
  }
}