@import '../../assets/styles/settings.scss';

header {
  display: flex;
  font-family: 'Playfair Display';
  height: 30px;
  padding: 20px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  justify-content: space-between;
  z-index: 2;

  .uanuthenticated {
    margin: 0;

    a {
      color: $link;
      cursor: pointer;
      text-decoration: none;
    }

    span {
      color: $prompt;

      &:after { content: '  '; }
    }
  }

  @media (min-width: $desktopMd) { position: fixed; }
}