@import '../../assets/styles/settings.scss';

.dashboard {
  .dashboard-inner {
    margin: 60px auto 0;
    width: 100%;
    max-width: 900px;

    .add {
      position: absolute;
      bottom: 40px;
      right: 40px;
    }

    .new-event-form {
      background-color: $white;
      height: 650px;
      margin: 0 auto;
      padding: 40px;
      width: 480px;
    }
  }

  .nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px;
    width: auto;

    .sort {
      a {
        @include fontScale(0);
        color: $normalGrey;
        cursor: pointer;

        &.active { color: $normalBlack; }

        &:not(:last-of-type) { margin-right: 15px; }
      }
    }

    .view-modes {
      display: flex;
      justify-content: space-between;
      width: 45px;

      .fa {
        color: $normalGrey;
        cursor: pointer;

        &.active { color: $normalBlack; }
      }
    }
  }

  @media (min-width: $desktopMd) {
    .dashboard-inner { max-width: 1200px; }

    .nav {
      padding: 0;
      width: 100%;
    }
  }
}