@import '../../assets/styles/settings.scss';

.dashboard {
  .dashboard-inner {
    margin: 60px auto 0;
    width: 100%;
    max-width: 900px;

    .add {
      position: sticky;
      left: 92vw;
    }

    .new-event-form {
      background-color: $white;
      padding: 10px;
      height: 650px;
      margin: 0 auto;
      width: 95%;
    }
  }

  .nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px;
    width: auto;

    .sort {
      a {
        @include fontScale(0);
        color: $normalGrey;
        cursor: pointer;

        &.active { color: $normalBlack; }

        &:not(:last-of-type) { margin-right: 15px; }
      }
    }

    .view-modes {
      display: flex;
      justify-content: space-between;
      width: 45px;

      .fa {
        color: $normalGrey;
        cursor: pointer;

        &.active { color: $normalBlack; }
      }
    }
  }

  @media (min-width: $tabletSm) {
    .dashboard-inner {
      max-width: 1200px;

      .new-event-form {
        padding: 40px;
        width: 480px;
      }

      .add { bottom: 40px; }
    }
  }
}