$normalBlack: #323C46;
$normalGreen: #22D486;
$normalDelete: #FF4081;
$normalGrey: #D9DCE1;

$hoverBlack: #565D5A;
$hoverGreen: #20BD78;
$hoverGrey: #C4C9D1;
$hoverDelete: #E73370;

$inputLabel: #D2D6DA;

$white: #FFFFFF;
