$normalBlack: #323C46;
$normalGreen: #22D486;
$normalDelete: #FF4081;
$normalGrey: #D9DCE1;

$hoverBlack: #565D5A;
$hoverGreen: #20BD78;
$hoverGrey: #C4C9D1;
$hoverDelete: #E73370;

$inputLabel: #D2D6DA;

$background: #F9F9FB;
$boxBorder: #DAE1EB;
$boxShadow: rgba(0, 0, 0, 0.05);
$white: #FFFFFF;
$imageMask: #313A43;
$prompt: #C9CEDC;
$link: #949EA8;
