@mixin formLayout($heading: '.heading', $text: '.instructions') {
  font-family: 'Hind';
  width: 100%;

  #{$heading} { @include fontScale(6); }

  #{$text} {
    @include fontScale(4);
    @include fontWeightScale(1);
    color: $link;
    margin-top: 0;
    margin-bottom: 40px;
  }

  #{$heading}, #{$text} { text-align: center; }

  button {
    display: block;
    margin: 0 auto;
  }

  @media (min-width: $desktopMd) {
    width: 480px;

    #{$heading}, #{$text} { text-align: left; }

    button { display: inline; }
  }
}

@mixin square($size: 20px) {
  height: $size;
  width: $size
}

@mixin defaultBoxShadow($boxShadowEffects: 0 0 7px 1px, $boxShadowColor: $boxShadow) { box-shadow: $boxShadowEffects $boxShadowColor; }

@mixin fillContainer($bottom: 0, $left: 0, $position: absolute, $right: 0, $top: 0) {
  bottom: $bottom;
  left: $left;
  position: $position;
  right: $right;
  top: $top;
}

@mixin undercutLastChildMargin {

  & > {
    .core,
    aside,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    img,
    p {

      &:last-child { margin-bottom: 0; }
    }
  }
}